body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px 20px;
    background-image: linear-gradient(45deg,#63F0B9, #6596F0,#E65FFB,#ff5e62);
    background-size: 400%;
    text-align: center;
    animation: animate_bg ease-in-out 15s infinite;
}

@keyframes animate_bg {
    0% {
    background-position: 0%,50%;
  }

  50% {
    background-position: 100%,50%;
  }

  0% {
    background-position: 0%,50%;
  }
}


h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 400px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

input {
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 20px;
}

button {
    font-family: 'Montserrat', sans-serif;
    width: 130px;
    padding: 10px 20px;
    background-color:  #1A3155;
    color: white;
    border: 1px solid #1A3155;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

#del-btn {
    background-color: white;
    color: #1A3155;
    transition: 0.5s;
}

#del-btn:hover {
    background-color: #1A3155;
    color: white;
}

ul {
    background-color: rgba(255, 255, 255, 0.671);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3), 0 8px 16px rgba(0, 0, 0, .3);
    border-radius: 20px;
}
ul li {
    list-style-type: disc;
    line-height: 2;
}
  
a {
    font-size: 14px;
    color: #1A3155;
}